

<!DOCTYPE html>
<html>
 
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Kale Grubu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Kale Grubu">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" type="~/image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="../use.typekit.net/rlu6mzh.css">
    <link rel="stylesheet" href="../cdn.jsdelivr.net/npm/%40mdi/font%404.7.95/css/materialdesignicons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/extend.css">
   

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYLLZNZTR5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SYLLZNZTR5');
    </script>
</head>
 
            @RenderBody()

<footer class="app-footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-md-1">
                <div class="footer-menu d-flex justify-space-between">
                    <ul>
                        <li>
                            <a href="hakkimizda.html" class="font-weight-semi-bold">
                                Kurumsal
                            </a>
                        </li>

                        <li>
                            <a href="hakkimizda.html">
                                Hakk&#x131;m&#x131;zda
                            </a>
                        </li>
                        <li>
                            <a href="kurucumuz.html">
                                Kurucumuz
                            </a>
                        </li>
                        <li>
                            <a href="yonetim.html">
                                Y&#xF6;netim
                            </a>
                        </li>
                        <li>
                            <a href="kilometre-taslari.html">
                                Kilometre Ta&#x15F;lar&#x131;
                            </a>
                        </li>
                        <li>
                            <a href="baskanin-mesaji.html">
                                Ba&#x15F;kan&#x131;n Mesaj&#x131;
                            </a>
                        </li>
                        <li>
                            <a href="politikalar-ve-sertifikalar.html">
                                Politikalar ve Sertifikalar
                            </a>
                        </li>

                    </ul>
                    <ul>
                        <li>
                            <a href="sektorler.html" class="font-weight-semi-bold">
                                Faaliyet Alanlar&#x131;
                            </a>
                        </li>

                        <li>
                            <a href="sektorler.html">
                                Sekt&#xF6;rler
                            </a>
                        </li>
                        <li>
                            <a href="markalar.html">
                                Markalar
                            </a>
                        </li>

                    </ul>
                    <ul>
                        <li>
                            <a href="toplumsal-yatirimlar.html" class="font-weight-semi-bold">
                                Toplumsal Yat&#x131;r&#x131;mlar
                            </a>
                        </li>

                        <li>
                            <a href="toplumsal-yatirimlar/projeler.html">
                                Projeler
                            </a>
                        </li>
                        <li>
                            <a href="toplumsal-yatirimlar/ksv.html">
                                KSV
                            </a>
                        </li>
                        <li>
                            <a href="toplumsal-projeler/surdurulebilirlik.html">
                                S&#xFC;rd&#xFC;r&#xFC;lebilirlik
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Taahh&#xFC;tler
                            </a>
                        </li>
                        <li>
                            <a href="toplumsal-yatirimlar/Iyi-bak-dunyana.html">
                                &#x130;yi Bak D&#xFC;nyana
                            </a>
                        </li>

                    </ul>
                    <ul>
                        <li>
                            <a href="insan-kaynaklari.html" class="font-weight-semi-bold">
                                &#x130;nsan Kaynaklar&#x131;
                            </a>
                        </li>

                        <li>
                            <a href="insan-kaynaklari/insan-kaynaklari-uygulamalari.html">
                                Uygulamalar
                            </a>
                        </li>
                        <li>
                            <a href="insan-kaynaklari/kalegends.html">
                                Kalegends
                            </a>
                        </li>
                        <li>
                            <a href="insan-kaynaklari/gelecegin-kaleleri.html">
                                Gelece&#x11F;in Kaleleri
                            </a>
                        </li>

                    </ul>
                    <ul>
                        <li>
                            <a href="haberler.html" class="font-weight-semi-bold">
                                Medya
                            </a>
                        </li>

                        <li>
                            <a href="haberler.html">
                                Bizden Haberler
                            </a>
                        </li>
                        <li>
                            <a href="basin-odasi.html">
                                Bas&#x131;n Odas&#x131;
                            </a>
                        </li>
                        <li>
                            <a href="kurumsal-kimlik.html">
                                Kurumsal Kimlik
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-md-2">
                <div class="social-pages text-right">
                    <a href="https://www.facebook.com/kalegrubu/" target="_blank" title="">
                        <i class="mdi mdi-facebook"></i>
                    </a>

                    <a href="https://twitter.com/kalegrubu" target="_blank" title="">
                        <i class="mdi mdi-twitter"></i>
                    </a>

                    <a href="https://www.linkedin.com/company/kalegrubu/" target="_blank" title="">
                        <i class="mdi mdi-linkedin"></i>
                    </a>

                    <a href="https://www.instagram.com/kalegrubu/" target="_blank" title="">
                        <i class="mdi mdi-instagram"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCgQSAhDy2hK87q7FT4Y9Cfw" target="_blank" title="">
                        <i class="mdi mdi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

   

</html>
