@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-danger">Hatalı yönlendirme.</h1>

<div class="container">
<p>
    <strong>Hata No:</strong> <code>101</code>
</p>


<p>
    İstediğiniz  sayfa  bulunamadı.
</p>
<p>
    <strong>Lütfen Anasayfa'ya <a href="../" title="">tıklayınız</strong>
</p>
</div>
