@model KaleGroup.Admin.Models.AddFileViewModel
 @{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="container mt-5 mb-5">
    <div class="heading mb-3">
        <h1 class="text-center">Tüm <span class="text-primary">Menü Ekle</span></h1>
    </div>
    <form asp-controller="UploadFile" asp-action="AddFile" asp-validator="true">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group position-relative">
                    <label>Menu Adı <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="file" class="form-control pl-5" placeholder="Menü Adı" asp-for="UploadFile">
                    <span asp-validation-for="UploadFile" class="text-danger mt-2"></span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group position-relative">
                    <label>Açıklama <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="Açıklama" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger mt-2"></span>
                </div>
            </div>

             
          

            <div class="col-lg-12 mb-0">
                <input type="submit" class="btn btn-primary btn-block" value="Kaydet">
            </div>
        </div>
    </form>
</div>