@model KaleGroup.Web.Models.HomeViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner banner-inner banner-inner-lg">
    <div class="banner-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8 text-center">
                    <div class="heading-area">
                        <h2>Bilgi Güvenliği Politikamız</h2>
                    </div>
                    <p>Bilgiye değer vermek ve bilgiyi korumak.</p>

                    <p>Faaliyetlerimizle ilgili yasal mevzuatlardan, Tedarikçi veya Müşteri sözleşmelerimizden doğan bilgi güvenliği yükümlülüklerini yerine getirmek.</p>

                    <p>Bilgi varlıklarımızın gizlilik, bütünlük ve kullanılabilirliğini korumak.</p>

                    <p>Çalışanlarımızı, müşterilerimizi ve tedarikçilerimizi bilgi güvenliği konusunda bilinçlendirmek, kendilerine ve paydaşlarına ait bilgilerin korunması için farkındalıklarını arttırmak.</p>

                    <p>Temel ve destekleyici iş faaliyetlerimizin kesintisiz ya da en az kesinti ile sürekliliğini sağlayacak kaynak, düzenleme ve şartları sağlamak.</p>

                    <p>Bilgi güvenliği risklerini etkin olarak yöneterek, bilginin güvence altına alınmasını sağlamak.</p>

                    <p>Bilgi güvenliği rol ve sorumluluklarını belirlemek, gerekli kaynakları sağlamak.</p>

                    <p><small>Genel Müdür<br>Cüneyt Kenger</small></p>
                </div>
            </div>
        </div>
        <div class="bg-image">
            <img src="Content/Site/images/hak-bg.png" alt="banner">
        </div>
    </div>
</div>