@using System.Web;

@model KaleGroup.Web.Models.FooterPagesViewModel
 
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="content-text raw-content col-md-8 offset-md-2 text-justify">
                @Html.Raw(Model.PageDescription)
            </div>
        </div>
    </div>
</section>
 
 
