 @model KaleGroup.Admin.Models.AddMenuViewModel
 @{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="container mt-5 mb-5">
    <div class="heading mb-3">
        <h1 class="text-center">Tüm <span class="text-primary">Menü Ekle</span></h1>
    </div>
    <form asp-controller="Menu" asp-action="AddMenu" asp-validator="true">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group position-relative">
                    <label>Menu Adı <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="Menü Adı" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger mt-2"></span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group position-relative">
                    <label>Açıklama <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="Açıklama" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger mt-2"></span>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group position-relative">
                    <label>İngilizce Menu Adı <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="İngilizce Menü Adı" asp-for="EnName">
                    <span asp-validation-for="EnName" class="text-danger mt-2"></span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group position-relative">
                    <label>İngilizce Açıklama <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="İngilizce Açıklama" asp-for="EnDescription">
                    <span asp-validation-for="EnDescription" class="text-danger mt-2"></span>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group position-relative">
                    <label>Aktif mi?</label>
                    <div class="">
                        <input type="radio" value="true" asp-for="IsActive" /> Evet
                        <input type="radio" value="false" asp-for="IsActive" /> Hayır<br />
                        <span asp-validation-for="IsActive" class="text-danger mt-2"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-6">
                <div class="form-group position-relative">
                    <label>Sıra Numarası <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" asp-for="OrderNumber">
                    <span asp-validation-for="OrderNumber" class="text-danger mt-2"></span>
                </div>
            </div>
            <div class="col-lg-12 mb-0" >
                <input type="submit" class="btn btn-primary btn-block" value="Kaydet">
            </div>
        </div>
    </form>
</div>